<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mercado Liebre</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
     <script src="https://kit.fontawesome.com/a2385b59a3.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href= "normalize.css">
     <link rel="stylesheet" href= "style.css">

</head> 

<body >
    <header class="main-header">
        <div class="main-header-top-bar">
            <img  src="logo-mercado-liebre.svg"  class="logo" >  
            <input type="text" name="searchBar" placeholder="Bucar productos, marcas">
            <i class="fa-solid fa-magnifying-glass"></i>
            <h2 class="copy-header" >
                <img src="pagaEnCuotas.png" class="iconos">
                Comprar en cuotas y sin tarjeta de crédito
            </h2>
        </div>    
        
        <a href="#"class="hamburguer-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>
        
    <nav class="main-navbar"> 
        <ul class="left-navbar">
           <li ><a href="#Ofertas"> Ofertas</a></li>
           <li ><a href="#Vender"> Vender</a></li>
           <li ><a href="#Tiendas-Oficiales">Tiendas Oficiales</a></li>
           <li ><a href="#Ayuda"> Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
           <li ><a href="/formAccount">
                 Crea tu cuenta
                <img src="creaTuCuenta.png" class="iconos"></a></li>
           <li ><a href="./login">
                 Ingresa
                <img src="ingresa.png" class="iconos"></a></li>
           <li ><a href="#Mis-compras">
                 Mis Compras
                <img src="canastaCompra.png" class="iconos"></a></li>

        </ul>
    </nav> 
   

</header> 
   
<main >
    
    <form action="createAccount" method="post" class=form>
        <div class="register">
            <label>Nombre y apellido</label>
            <input type="text" name="txtname" class="form" required minlength="5">
        </div>
        <div class="register">
            <label >Nombre Usuario:</label>
            <input type="text" name="txtUser" class="form" required  minlength="3" maxlength="10">
        </div>
        <div class="register">
            <label >Fecha Nacimiento:</label>
            <input type="date" name="date" class="form" required >
        </div>
        <div class="register">
            <label >Domicilio:</label>
            <input type="text" name="txAdress" class="form" required minlength="5">
        </div>
        <div class="register" >
            <label  for="rUserPerfil">¿Qué quiéres hacer?</label>
            <label>Comprar<input type="radio" name="rUserPerfil" value="Comprar" checked></label>
            <label>Vender<input type="radio" name="rUserPerfil" value="Vender"></label>
        </div>

        <div class="register">
            <label>Categoria</label>
            <select name="category">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
                <option value="indumentaria">Jugueteria</option>
                <option value="indumentaria">Vida Sana</option>
            </select>
        </div>

        <div class="register">
                <input type="file" name="filePhoto" class="form" placeholder="Elige tu foto de perfil"  >
        </div>
        
        <div class="register">
                <label >Contraseña:</label>
                <input type="password" name="txtPassword" class="form" required minlength="8" maxlength="15" >
        </div>
    
        <div>
        <button type="submit" class="buttonForm" >Enviar</button>
        <button type="reset" class="buttonForm" >Borrar</button>
        </div>
    </form>

</main>
    



<footer class="footer" >
    <section>
        <article >
             <i class="fa-solid fa-credit-card"  ></i>
            <h2 class=>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efecctivo en puntos de pago.</p>
            <p> ¡Siempre es Seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"    ></i>
             <h2 class=>Envío Gratis desde $2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.</p>
            <p> Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield" ></i>
            <h2 class=>Seguridad de Principio a Fin</h2>
            <p>No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, por que estás simepre protegid@.</p>
            <p >Copyright c 1999-2020 Mercado Liebre S.R.L</p>
        </article>
    </section>   

    
</footer>


</body>
</html>